body{
    background-color: #FAF9F5;
    margin: 0;
    padding: 0;
}

.header{
    height:100px;
    background-color: #C8B6FF;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.logo p{
    font-family: 'Inter';
    font-size: 74px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.navbar a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: white;
    color: #8C7AC3; 
}

.button{
    padding: 10px 38px;
    background-color: #8C7AC3;
    border-radius: 5px;
}

footer{
    height:40px;
    text-align: center;
    background-color: #C8B6FF;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.middle {
    height: 500px;
    width: 1100px;
    background-color: #c8b6ff;
    margin: 100px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.midbutton {
    height: 100px;
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    gap: 20px;
}

.url-but,
.qr-but {
    background-color: #8c7ac3;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.url-but {
    margin-left: 350px;
}

.url-but img {
    height: 50px;
    width: 50px;
}

.url-but p,
.qr-but p {
    color: white;
    font-family: 'Inter';
    font-weight: bold;
}

.midbutton a {
    text-decoration: none;
}

.qr-but:hover {
    background-color: white;
}

.qr-but:hover p {
    color: #c8b6ff;
}

.url-but:hover {
    background-color: white;
}

.url-but:hover p {
    color: #c8b6ff;
}

.urlshort p {
    color: #6e5e9f;
    font-family: 'Inter';
    font-size: 40px;
    margin-top: -10px;
    text-align: center;
    font-weight: bold;
}

.formURL {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#url-input {
    height: 35px;
    width: 500px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

#shortenbutton {
    background-color: #6e5e9f;
    color: white;
    font-size: 20px;
    padding: 5px 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#shortenbutton:hover {
    background-color: white;
    color: #6e5e9f;
}

.newLink {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newlinktext {
    color: #6e5e9f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.newLink div {
    width: 500px;
    height: 35px;
    background-color: white;

    border-radius: 10px;
}

.newLink div p {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
.innerNewLink{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.innerNewLink a{
    display: block; 
    color: #6e5e9f;
    text-align: center; 
    padding: 10px; /

}
