{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- prettier-ignore -->
        <link rel='stylesheet' href='{% static 'css/base.css' %}'> 
        <link rel='stylesheet' href='{% static 'css/home.css' %}'>
        <link rel='stylesheet' href='{% static 'css/QR.css' %}'>
        <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <p>ZIPLINK</p>
            </div>
            <nav class="navbar">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'login' %}" class="button">Login</a>
            </nav>
        </div>
        <div class="content">{% block content %} {% endblock %}</div>
        <footer>
            <p>© Ziplink 2024. All rights reserved.</p>
        </footer>
    </body>
</html>