{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class = 'middle'>

    <div class='midbutton'>
        <a href="">
            <div class="url-but">
                <img src = "{% static 'White icon.png' %}">
                <p>Shorten URL</p>
            </div>
        </a>
        <a href="">
            <div class = "qr-but">
                <img src = "">
                <p>QR Code</p>
            </div>
        </a>
    </div>
    
    <div class='urlshort'>
        <p>Enter your link here</p>
    
    </div>

</div>

<div class = 'info'>

    <div class = 'urlbox'>
        <img src = "{% static 'Purple url short.png' %}">
        <div class = "innerbox">
            <p id = "bigHeading"> 
                URL SHORTENER
            </p>
            <p id = "subHeading">
                Shorten. Share. Simplify.
            </p>
            <ul id = "listPoints">
                <li>Simplify Long URLs</li>
                <li>Track Performance</li>
            </ul>
        </div>
    </div>

    <div class = 'qrbox'>
        <img src = "{% static 'Purple url short.png' %}">
        <div class = "innerbox">
            <p id = "bigHeading"> 
                QR CODE GENERATOR
            </p>
            <p id = "subHeading">
                Scan the future, instantly. 
            </p>
            <ul id = "listPoints">
                <li>Custom Design</li>
                <li>High Quality Output</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}